* {
    background: rgb(241, 239, 239);
}

.wrap {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    background: #cfc3bd;
    border-radius: 30px;
}

table {
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    font-size: medium;
    /* background: #ebeaea; */
    border: 10px solid #ccb9aa;
}

td {
    padding: 20px;
    font-weight: 800;
    border-radius: 30px;
    /* background: #ebeaea; */
}

th {
    padding: 15px;
    font-weight: 500;
    border-radius: 30px;
    background: none;
}

.hex {
    background: rgb(67, 213, 160);
}

.money {
    background: #e7d4b5;
}

.topic {
    background: #ccb9aa;
}

.english {
    background: #dfbfb2;
}

.digit {
    background: #cea48d;
}

.create {
    background: #cda581;
}

.discuss {
    background: #d2cabf;
}

.camera {
    background: #cfc3bd;
}

.design {
    background: #d3bbb7;
}